.paper {
  width: '80vw';
  height: '80vh';
  max-width: '500px';
  max-height: '700px';
  display: 'flex';
  align-items: 'center';
  flex-direction: 'column';
  position: 'relative';
}
.paper2 {
  width: '80vw';
  max-width: '500px';
  display: 'flex';
  align-items: 'center';
  flex-direction: 'column';
  position: 'relative';
}
.container {
  width: '100vw';
  height: '100vh';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  padding: 0;
}
.messagesBody {
  margin: 10;
  padding: 6px;
  min-height: 50vh;
  max-height: 52vh;
  overflow-y: 'scroll';
  display: 'flex';
  flex-direction: 'column-reverse';
}
